# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/First-Day/nbproject/private/
/First-Day/build/
/Second-Day/nbproject/private/
/Second-Day/build/
/03_loops_in_java/nbproject/private/
/03_loops_in_java/build/
/04_patterns_in_java/nbproject/private/
/04_patterns_in_java/build/
/05_patterns_in_java/nbproject/private/
/05_patterns_in_java/build/
/06_JavaFunctions/nbproject/private/
/06_JavaFunctions/build/
/07_Functions/nbproject/private/
/07_Functions/build/
/08_Exercise_functions/nbproject/private/
/08_Exercise_functions/build/
/09_questions/nbproject/private/
/09_questions/build/
/10_Arrays_Basic/nbproject/private/
/10_Arrays_Basic/build/
/11_2D_Array/nbproject/private/
/11_2D_Array/build/
/12_Bubble_Sort/nbproject/private/
/12_Bubble_Sort/build/
/02_day/JavaApplication4/nbproject/private/
/02_day/JavaApplication4/build/
